name: Build rtl_433 images

on:
  push:
    branches:
      - main
  pull_request:

env:
  REGISTRY: ghcr.io

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_rtl_433:
    name: Build rtl_433 addon
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        arch: [amd64, aarch64]
        addon: [rtl_433, rtl_433-next, rtl_433_mqtt_autodiscovery, rtl_433_mqtt_autodiscovery-next]
        include:
          - arch: amd64
            runner: ubuntu-22.04
            builder_image: amd64
          - arch: aarch64
            runner: ubuntu-22.04-arm
            builder_image: aarch64

    steps:
    - name: Inject slug/short variables
      uses: rlespinasse/github-slug-action@797d68864753cbceedc271349d402da4590e6302 # v4

    - name: Checkout the repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Login to Packages Container registry
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Copy files for next if needed
      run: |
        if [ "${{ matrix.addon }}" == "rtl_433-next" ]; then
          cp -nv -R rtl_433/* ${{ matrix.addon }}/
        fi
        if [ "${{ matrix.addon }}" == "rtl_433_mqtt_autodiscovery-next" ]; then
          cp -nv -R rtl_433_mqtt_autodiscovery/* ${{ matrix.addon }}/
        fi

    - name: Build ${{ matrix.addon }} ${{ matrix.arch }} image
      uses: home-assistant/builder@master
      with:
        image: ${{ matrix.builder_image }}
        args: |
          --test \
          --${{ matrix.arch }} \
          --docker-hub $REGISTRY \
          --image ${{ github.repository}}-${{ matrix.addon }}-{arch} \
          --self-cache \
          --version $GITHUB_REF_SLUG \
          --no-latest \
          --target ${{ matrix.addon }}

    # Commented out: only test builds in PRs, don't push tagged images
    # - name: Build and push ${{ matrix.addon }} ${{ matrix.arch }} image
    #   uses: home-assistant/builder@master
    #   if: github.event.pull_request.head.repo.full_name == github.repository
    #   with:
    #     args: |
    #       --${{ matrix.arch }} \
    #       --docker-hub $REGISTRY \
    #       --image ${{ github.repository}}-${{ matrix.addon }}-{arch} \
    #       --self-cache \
    #       --version $GITHUB_REF_SLUG \
    #       --no-latest \
    #       --target ${{ matrix.addon }}
