name: Build rtl_433 images

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Test Build
    uses: ./.github/workflows/build-addon.yml
    with:
      build-type: test
